<ion-header>
	<ion-toolbar color= "success">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>
		<ion-title>Characters Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="character">
		<ion-card-content>
			<h3><img src="{{ character.img }}"> </h3>
		</ion-card-content>

	</ion-card>

	<ion-card *ngIf="character">
		<ion-card-content>
			<h3><strong> Character name: {{ character.name }} </strong> </h3>
		</ion-card-content>
	</ion-card>


	<ion-card *ngIf="character">
		<ion-card-content>
			<h3><strong> Character nickname: {{ character.nickname }} </strong>  </h3>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="character">
		<ion-card-content>
			<h3><strong> Character occupation: {{ character.occupation }} </strong> </h3>
		</ion-card-content>
	</ion-card>
    <ion-card *ngIf="character">
		<ion-card-content>
			<h3><strong> Character appearance in season: {{ character.appearance }} </strong>  </h3>
		</ion-card-content>
	</ion-card>
     <ion-card *ngIf="character">
		<ion-card-content>
			<h3><strong> portrayed by: {{ character.portrayed }} </strong> </h3>
		</ion-card-content>
	</ion-card>

</ion-content>