<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/death"></ion-back-button>
		</ion-buttons>
		<ion-title>Deaths Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="death">


		<ion-card-content>
			<h3><strong> {{ death.death}} </strong></h3>
		</ion-card-content>

		<ion-card-content>
			<h3><strong>Death cause: {{ death.cause}} </strong></h3>
		</ion-card-content>

		<ion-card-content>
			<h3><strong>Last words: {{ death.last_words }} </strong></h3>
		</ion-card-content>

		<ion-card-content>
			<h3><strong>Death responsible: {{ death.responsible }} </strong></h3>
		</ion-card-content>

	</ion-card>

</ion-content>